.carousel-indicators {
    bottom: 0;
    text-align: right;
    width: 20%;
    left: 108%;
}
.carousel-indicators li {
    border: none;
    border-radius: 3px;
    background-color: #99d8f0;
}
.carousel-indicators .active{
    background-color: orange;
}

.pad-top {
    padding: 30px 0;
}
.pad-top-only {
    padding: 30px 0 0 0;
}
.pad-bot {
    padding: 0 0 30px 0;
}
.carousel {
    height: 290px;
    overflow: hidden;
    border-radius: 5px;
}
.poll a{
    color: orange;
}

@media (min-width: 992px) {
    .poll {
        height: 290px;
        border-radius: 5px;
        background-color: #0f6b99;
        padding: 10px 20px 20px;
        color: white;
    } 
    .poll h4 {
        color: #65cfe9;
    }
    .pad-right {
        padding: 0 30px 0 0;
    } 
    .pad-right-sm {
        padding: 0 15px 0 0;
    }
    .pad-left-sm {
        padding: 0 0 0 20px;
    }
    .right-border {
        border-right: 1px solid #ddd;
    }
}
.btn-default {
    background-color: white;
    color: orange;
    border-color: orange;
}
.tab-pane img {
    width: 300px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #004f6d;
}
.nav-tabs > li > a{
    padding: 10px 10px;
}
.nav-tabs {
    border-color: orange;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    border-bottom: #ccd9e0;
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
    border-color: orange orange transparent;
}
#am-footer h3 {
    margin-top: 0;
}
#am-footer .main-bar .item ul {
    margin-left: 0;
}
@media (min-width: 1200px) {
  #am-footer .container {
    width: 1400px;
}
}
.logo-footer {
    width: 150px;
    padding-top: 45px;
}
.social-wrapper img {
    padding: 0 0 20px;
}
#am-footer .main-bar .item.social-wrapper li {
    margin-bottom: 0;
}
#am-footer .main-bar .item.social-wrapper ul {
    padding-left: 0;
}
.jqbar {
    top: 0;
}
.jqbar span {
    color: orange;
}
.pad {
    padding: 20px;
    margin: 0 auto;
}
.pad-side {
    padding: 0 20px;
    margin: 0 auto;
}
.border-padding{
    padding: 15px;
    border-radius: 5px;
    background-color: #eeeeee;
}
.border-padding-clear{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid orange;
    height: 608px;
}
.border-padding-large{
    padding: 20px;
    border-radius: 5px;
    background-color: #eeeeee;
}
.center-img {
    margin: 0 auto;
}
.charity-details h3 {
    font-size: 21px;
    margin: 0;
}
.sm-share span {
    box-sizing: content-box;
}
.full-row {
    background-color: #cee8f3;
}
.comment-btn {
    margin-top: 5px;
}
em.faded {
    color: orange;
    font-size: 12px;
}
.modal-img {
    height: 160px;
}
.text-orange {
    color: orange;
}
.grayHover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscalerayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
} 