.carousel-indicators {
    bottom: 0;
    text-align: right;
    width: 20%;
    left: 108%;
}
.carousel-indicators li {
    border: none;
    border-radius: 3px;
    background-color: white;
}
.carousel-indicators .active{
    background-color: #D64747;
}

.pad-top {
    padding: 30px 0 ;
}
.carousel {
    height: 290px;
    overflow: hidden;
    border-radius: 5px;
}
@media (min-width: 992px) {
    .poll {
        height: 290px;
        border-radius: 5px;
        background-color: #D64747;
        padding: 10px 20px 20px;
        color: white;
    } 
    .poll h4 {
        color: #330000;
    }
    .pad-right {
        padding: 0 30px 0 0;
    } 
}
.btn-default {
    background-color: white;
    color: #D64747;
    border-color: #D64747;
}
.tab-pane img {
    width: 300px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border-color: #D64747;
    color: #D64747;
}
.nav-tabs > li > a{
    color: #330000;
}
.nav > li > a {
    padding: 8px 12px;
}
.nav-tabs {
    border-color: #D64747;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    border-bottom: #D64747;
}

#am-footer h3 {
    margin-top: 0;
}
#am-footer .main-bar .item ul {
    margin-left: 0;
}
@media (min-width: 1200px) {
  #am-footer .container {
    width: 1400px;
  }
}
.logo-footer {
    width: 150px;
    padding-top: 45px;
}
.social-wrapper img {
    padding: 0 0 20px;
}
#am-footer .main-bar .item.social-wrapper li {
    margin-bottom: 0;
}

.jqbar {
    top: 0;
}